<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <!--{{form.valid}}
        {{form.value | json}}-->

        <form [formGroup]="orderForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Seus Dados:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container label="Nome"  errorMessage="Campo Obrigatório e com 5 caracteres">
                <input type="text" class="form-control" formControlName="name" minlength="5" placeholder="Nome" autocomplete="off">
              </mt-input-container>
          </div>
          <div class="col-sm-3 col-xs-6">
            <mt-input-container label="E-mail"  errorMessage="E-mail inválido!">
              <input type="text" class="form-control" formControlName="email" placeholder="E-mail" autocomplete="off">
            </mt-input-container>
          </div>
          <div class="col-sm-3 col-xs-6">
            <mt-input-container label="Confirmação do e-mail" errorMessage="E-mail inválido!">
              <input type="text" class="form-control" formControlName="emailConfirmation" placeholder="Confirmação do e-mail">
            </mt-input-container>
          </div>
          <!-- /.col -->
        </div>            


          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <mt-input-container label="Endereço"  errorMessage="Campo Obrigatório e com 5 caracteres">
                  <input type="text" class="form-control" formControlName="address" minlength="5" placeholder="Endereço" autocomplete="off">
                </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container label="Endereço"  errorMessage="Obrigatório e somente números">
                <input type="text" class="form-control" formControlName="number" pattern="^[0-9]*$" placeholder="Número" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container label="Complemento">
                <input type="text" class="form-control" id="inputSuccess" formControlName="optionalAddress" placeholder="Complemento">
              </mt-input-container>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            
            <mt-order-items [items]="cartItems()" 
              (increaseQtyItem)="increaseQty($event)"
              (decreaseQtyItem)="decreaseQty($event)"
              (removeItem)="remove($event)">
            </mt-order-items>
            
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                  <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <mt-delivery-costs 
              [itemsValue]="itemsValue()"
              [delivery]="delivery" ></mt-delivery-costs>
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="checkOrder(orderForm.value)" href="order-summary.html" 
              [disabled]="!orderForm.valid || cartItems().length === 0" 
              class="btn btn-success pull-right">
                <i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->
